<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')


<body>
  <header>
    @@include('../partials/components/header.html')

  </header>
  <main>
    @@include('../partials/components/here.html')
    @@include('../partials/components/phone.html')
    @@include('../partials/components/section.html')
    @@include('../partials/components/price.html')

    

  </main>
  <footer>
    @@include('../partials/components/footer.html')

  </footer>
    @@include('../partials/scripts/common.html')
</body>

</html>
