<footer class="footer">
    <div class="container">
        <div class="footer_top">
            <span class="copyright">©2020 Yourcompany</span>
            <a href="#" class="logo">Landie</a>
            <div class="footer_button">
                <a href="#">Purchase now</a>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_nav">
                <ul class="footer_nav_menu">
                    <li class="footer_nav_menu_item">
                        <a href="#">Home</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="#">About</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="social">
                <a href="#" class="icon-fb"></a>
                <a href="#" class="icon-insta"></a>
                <a href="#" class="icon-twit"></a>
                <a href="#" class="icon-tube"></a>
                <a href="#" class="icon-Instagram"></a>
            </div>
            
        </div>
    </div>
</footer>