<div class="here">
    <div class="here_banner container">
        <div class="here_inner">
            <h1>Introduce Your Product Quickly & Effectively</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <div class="here_button">
                    <div class="here_btn">
                        <a href="#">Purchase UI Kit</a>
                    </div>
                    <div class="here_btn">
                        <a href="#">Learn More</a>
                    </div>
                </div>
        </div>
    </div>
</div>