<div class="phone container">
    <div class="phone_discription">
        <h2>Light, Fast & Powerful</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

        <div class="phone_title">
            <div class="phone_title_item">
                <img src="images/combi.png" alt="">
                <h3>Title Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            </div>
            <div class="phone_title_item">
                <img src="images/combi.png" alt="">
                <h3>Title Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            </div>
        </div>
    </div>
    <div class="phone_photo">
        <img src="images/undraw.png" alt="">
    </div>
</div>