<div class="price">
    <div class="price_title container">
        <h2>A Price To Suit Everyone</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
    </div>
    <div class="price_dollar">
        <strong>$40</strong>
        <p>UI Design Kit</p>
    </div>
    <div class="price_button">
        <p>See, One price. Simple.</p>
        <div class="price_button_now">
            <a href="#">Purchase Now</a>
        </div>
    </div>
</div>
