<div class="section container">
    <div class="section_item">
        <img src="images/1.png" alt="">
        <div class="section_text">
            <h2>Light, Fast & Powerful</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

        </div>
    </div>
    <div class="section_item">
        <img src="images/2.png" alt="">
        <div class="section_text">
            <h2>Light, Fast & Powerful</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

        </div>
    </div>
    <div class="section_item">
        <img src="images/3.png" alt="">
        <div class="section_text">
            <h2>Light, Fast & Powerful</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

            <div class="section_text_button">
                <a href="#">Purchase Now</a>
            </div>
        </div>
        
    </div>
</div>